@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RentalKendaraan.Models.Upload.FilesViewModel

<p>List Of Files</p>
<ul>
    @foreach (var item in Model.Files)
            {
                <li>
                    <a asp-action="Download" asp-route-filename="@item.Nama">
                        @item.Nama
                    </a>
                </li>
            }
</ul>